#filtros{
	padding: 15px 0;	
	background: #279326;
}

#mapa .container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

#servicios a{
  color: #279326;
}

#servicios h3{
  color: #31231a;
  font-weight: 100;
  text-transform: uppercase;
  background: url('../img/icon-titulo.png') no-repeat;
  padding: 7px 65px;
}
#servicios h3 strong{
  font-weight: 700;
}


#empresas i{
  font-size: 80px;
  color: lightgrey;

}



#sites h3, #related h3, #products h3{
  color: #31231a;
  font-weight: 100;
  text-transform: uppercase;
  background: url(../img/icon-titulo.png) no-repeat;
  padding: 7px 65px;
}

#sites h3 strong, #related h3 strong, #products h3 strong {
  font-weight: 700;
}

.sites-header{
  padding: 75px 0;
  background: url('../img/curauma-header.jpg') fixed;
  height:250px;
  /*margin-bottom: 50px;*/
  color: #fff;
}

#sites, #about {
  margin-top: 50px;
}

#related {
  padding: 30px 0;
  background: #f3f3f3;
}

#products {
  padding: 30px 0;
}

.redes-sitio i{
  font-size: 30px;
  padding: 0 5px;
  color: grey;
  
}

.rrss i{
  font-size: 20px;
  padding: 0 5px;
  color: #212529;
}


.filtros-left label{
  cursor: pointer;
}


.filtros-left{
  padding: 0 0 0 30px;
}
.filtros-left h3{
  font-weight: 100;
  text-align: center;
  padding: 15px 0 5px 0;
}
.filtros-left .form-check-input{
  display:none;
}

.filtros-left .form-check-label:hover{
  filter: grayscale(50%);
}
@media (max-width: 768px) {
  .filtros-left h3 {
    font-size: 18px;
  }
}

#mapa label{
  background-repeat: no-repeat;
  padding: 6px 40px;
  line-height: 24px;
}
#mapa .row,
#mapa .row .col-lg-10,
 #mapa .row .col-sm-10,
 #mapa .row .col-sx-12,
 #mapa .row .col-lg-2,
 #mapa .row .col-sm-2,
 #mapa .row .col-sx-12 {
   margin-left: 0px;
   margin-right: 0px;
   padding-left: 0px;
   padding-right: 0px;

 }

@media (max-width: 770px) {
  #mapa label {
      font-size: 0px;
      padding: 6px 25px;
  }

  .form-check {
    position: relative;
    display: inline;
    /*padding-left: 5px;*/
  }
}


#mapa .form-check-input {
  padding: 10px;
}



.logo-site {
  width: 150px;
  height: 150px;;
}


/*.restaurantes-icon{
  background: url('../img/icon/icon-restaurantes.png');
}
label[for=inputCategoria1]:focus, label[for=inputCategoria1]:active {
  filter: grayscale(100%);
}*/
.restaurantes-icon{
  background: url('../img/icon/icon-restaurantes.png');
  filter: grayscale(100%);
}
.mascotas-icon{
  background: url('../img/icon/icon-mascotas.png');
  filter: grayscale(100%);
}
.ferreterias-icon{
  background: url('../img/icon/icon-ferreterias.png');
  filter: grayscale(100%);
}
.bencineras-icon{
  background: url('../img/icon/icon-bencineras.png');
  filter: grayscale(100%);
}
.farmacias-icon{
  background: url('../img/icon/icon-farmacias.png');
  filter: grayscale(100%);
}
.deportes-icon{
  background: url('../img/icon/icon-deportes.png');
  filter: grayscale(100%);
}
.amasanderias-icon{
  background: url('../img/icon/icon-amasanderias.png');
  filter: grayscale(100%);
}
.bancos-icon{
  background: url('../img/icon/icon-bancos.png');
  filter: grayscale(100%);
}
.taxis-icon{
  background: url('../img/icon/icon-taxis.png');
  filter: grayscale(100%);
}
.propiedades-icon{
  background: url('../img/icon/icon-propiedades.png');
  filter: grayscale(100%);
}


.logo-card{
  border: 1px solid grey;
  float:right;
  width: 90px;
  height: 90px;
}



/*-------------------------------------------------------------------------------
TABLE OF CONTENT
-------------------------------------------------------------------------------*/
/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT :	BitBank | Crypto Currency HTML Templates
VERSION :	1.0
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]

1. BODY & TYPOGRAPHY

2. BACKGROUNDS

3. HEADER

4. NAVIGATION

5. HERO AREA

6. ABOUT US

7. CALL TO ACTION

8. CONTACT

9. COUNTER

10. PRICING

11. PORTFOLIO

12. SERVICE

13. SKILLS

14. TEAM

15. TESTIMONIAL

16. BLOG

17. SINGLE POST

18. FOOTER

19. 404_
-------------------------------------------------------------------*/
/*=================================================================
  TYPOGRAPHY
==================================================================*/
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:400,500,700,900");
body {
  line-height: 1.4;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
}

p {
  font-family: "Roboto", sans-serif;
  color: #212529;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: "Playfair Display", serif;*/
  font-weight: 600;
}

/*=== MEDIA QUERY ===*/
.no-padding {
  padding: 0 !important;
}

.inline-block {
  display: inline-block;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

figure {
  margin: 0;
}

a {
  transition: all .3s ease-in 0s;
}

iframe {
  border: 0;
}

a, a:focus, a:hover {
  text-decoration: none;
  outline: 0;
}

a:focus, a:hover {
  color: #31BB9E;
}

.btn-main, .btn-main-sm {
  background-color: #31BB9E;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  letter-spacing: 1px;
  padding: 10px 40px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 2px;
}

.btn-main:hover, .btn-main-sm:hover {
  color: #fff;
}

.btn-main-sm {
  padding: 8px 20px;
  font-size: 12px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-50 {
  margin-top: 50px;
}

.btn:focus {
  color: #ddd;
}

#home {
  position: relative;
}

.section {
  padding: 100px 0;
}

@media (max-width: 480px) {
  .section {
    padding: 40px 0;
  }
}

.padding-0 {
  padding: 0;
}

@media (max-width: 768px) {
  .padding-0 {
    padding: 0 15px;
  }
}

.section-sm {
  padding: 70px 0;
}

.section-xs {
  padding: 40px 0;
}

.btn.active:focus, .btn:active:focus, .btn:focus {
  outline: 0;
}

#preloader {
  background: #31BB9E;
  height: 100%;
  opacity: 1;
  filter: alpha(opacity=100);
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 99;
  display: flex;
  align-items: center;
}

.preloader {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}

.preloader .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.preloader .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}

.preloader .sk-circle2 {
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.preloader .sk-circle3 {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.preloader .sk-circle4 {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.preloader .sk-circle5 {
  -webkit-transform: rotate(120deg);
  transform: rotate(120deg);
}

.preloader .sk-circle6 {
  -webkit-transform: rotate(150deg);
  transform: rotate(150deg);
}

.preloader .sk-circle7 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.preloader .sk-circle8 {
  -webkit-transform: rotate(210deg);
  transform: rotate(210deg);
}

.preloader .sk-circle9 {
  -webkit-transform: rotate(240deg);
  transform: rotate(240deg);
}

.preloader .sk-circle10 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

.preloader .sk-circle11 {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.preloader .sk-circle12 {
  -webkit-transform: rotate(330deg);
  transform: rotate(330deg);
}

.preloader .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.preloader .sk-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.preloader .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.preloader .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

.preloader .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}

.preloader .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}

.preloader .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

.preloader .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}

.preloader .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}

.preloader .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}

.preloader .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.title {
  padding-bottom: 50px;
  text-align: center;
}

.title h2 {
  font-size: 35px;
  color: #232323;
  text-transform: capitalize;
  margin-bottom: 8px;
  font-weight: 700;
}

.title h4 {
  font-size: 10px;
  line-height: 10px;
  font-weight: 700;
  letter-spacing: 3.3px;
  text-transform: uppercase;
}

.title p {
  color: #848484;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .title p {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .title p {
    width: 80%;
  }
}

.title .border {
  display: inline-block;
  height: 6px;
  position: relative;
  width: 90px;
  background: #31BB9E;
  border-color: #31BB9E;
  margin-bottom: 10px;
}

.bg-gray {
  background: #f9f9f9;
}

.color-gray {
  color: #777;
}

.shadow {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.34);
}

.gradient {
  background-image: linear-gradient(100deg, #f9643d, #fe2a77);
}

.header-bradcrumb {
  background: transparent;
}

.header-bradcrumb a, .header-bradcrumb .active {
  color: #cfcfcf;
  font-weight: 200;
  font-family: "Playfair Display", serif;
}

.header-bradcrumb a:hover {
  color: #31BB9E;
}

.slick-slide {
  outline: none;
}

.commonTab .nav-tabs {
  border: 1px solid transparent;
  text-align: center;
}

.commonTab .nav-tabs .nav-item {
  margin: 0 3px;
}

.commonTab .nav-tabs .nav-item .nav-link {
  background: #f9f9f9;
  color: #666;
  text-transform: capitalize;
  border-radius: 0;
}

.commonTab .nav-tabs .nav-item .nav-link.active {
  border: 1px solid #31BB9E;
  background: #31BB9E;
  color: #fff;
}

.commonTab .nav-tabs .nav-item .nav-link:hover {
  border: 1px solid #31BB9E;
  border-radius: 0;
  background: #31BB9E;
  color: #fff;
}

.commonTab .tab-content {
  padding-top: 30px;
}

.account {
  background: #31BB9E;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.account h2 {
  color: #fff;
}

.account p {
  color: #fff;
}

.account a {
  color: #fff;
  font-weight: bold;
}

.account .block form {
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 1px 46px -4px rgba(0, 0, 0, 0.28);
}

/*=================================================================
  BACKGROUNDS
==================================================================*/
.bg-pricing {
  background: url("../images/pricing-bg.jpg");
  background-size: cover;
}

/*=================================================================
  SINGLE PAGE HEADER
==================================================================*/
.single-page-header {
  background: #1f2532;
  padding: 50px 0;
  text-align: center;
  color: #fff;
  position: relative;
}

.single-page-header .breadcrumb {
  background: transparent;
  display: inline-block;
}

.single-page-header .breadcrumb li {
  display: inline-block;
}

.single-page-header .breadcrumb li a {
  color: #31BB9E;
}



/*=================================================================
  Listado Sitios
==================================================================*/

.card .category {
  font-size: 85%;
  margin-bottom: 5px;
  color: #279326;
  font-weight: 100;
}

.card-text small {
  color: #717d88;
  font-style: italic;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


/*=================================================================
  Testimonial section
==================================================================*/
.testimonial {
  background: #31BB9E;
  position: relative;
}

.testimonial .item .block {
  background: #fff;
  margin: 10px;
  padding: 25px;
  border-radius: 4px;
}

.testimonial .item i {
  font-size: 40px;
  color: #31BB9E;
  margin-bottom: 30px;
  display: inline-block;
}

.testimonial .item .client-details p {
  font-size: 16px;
  font-weight: 200;
}

.testimonial .item .client-meta {
  margin-top: 8px;
}

.testimonial .item .client-meta h4 {
  margin-bottom: 4px;
  font-size: 16px;
}

.testimonial .item .client-meta p {
  font-size: 12px;
}

.testimonial .item .client-thumb {
  display: inline-block;
  border-radius: 100%;
  width: 50px;
  height: auto;
  border-radius: 50px;
}



/*=================================================================
  About us section
==================================================================*/
.about {
  background: #fff;
}

.about h2 {
  font-size: 40px;
  font-weight: bold;
  margin-top: 0;
}

@media (max-width: 992px) {
  .about h2 {
    font-size: 25px;
  }
}

.about h4 {
  font-size: 14px;
  color: #31BB9E;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.about p {
  line-height: 1.6;
  margin-top: 20px;
}

.about .content {
  padding: 50px 0;
}

@media (max-width: 992px) {
  .about .content {
    padding: 5px 0;
  }
}

/*=================================================================
  About us 2 section
==================================================================*/
.about-2 {
  background: #F7F7F7;
}

.about-2 h2 {
  margin-bottom: 25px;
}

.about-2 .bitcoin-graph {
  width: 100%;
  height: 400px;
}

.about-2 .svg-container {
  overflow: hidden;
}

@media (max-width: 992px) {
  .about-2 .svg-container {
    width: 350px !important;
  }
}

@media (max-width: 768px) {
  .about-2 .svg-container {
    width: 450px !important;
  }
}

@media (max-width: 480px) {
  .about-2 .svg-container {
    width: 350px !important;
  }
}

@media (max-width: 400px) {
  .about-2 .svg-container {
    width: 300px !important;
  }
}


/*=================================================================
  Contact
  ==================================================================*/
.contact-form {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .contact-form {
    margin-top: 20px;
  }
}

.contact-form .form-control {
  background-color: transparent;
  border: 1px solid #dedede;
  box-shadow: none;
  height: 45px !important;
  color: #0c0c0c;
  height: 38px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  border-radius: 3px;
}

.contact-form input:hover,
.contact-form textarea:hover,
.contact-form #contact-submit:hover {
  border-color: #31BB9E;
}

.contact-form #contact-submit {
  border: none;
  padding: 15px 0;
  width: 100%;
  margin: 0;
  background: #31BB9E;
  color: #fff;
  border-radius: 0;
  cursor: pointer;
}

.contact-form textarea.form-control {
  padding: 10px;
  height: 120px !important;
  outline: none;
}

.contact-details .contact-short-info {
  margin-top: 15px;
}

.contact-details .contact-short-info li {
  margin-bottom: 6px;
}

.social-icon li {
  display: inline-block;
  margin-right: 10px;
}

.social-icon li a {
  display: block;
  height: 30px;
  width: 30px;
  text-align: center;
  color: #31BB9E;
}

.social-icon li a i {
  display: inline-block;
  font-size: 20px;
  line-height: 50px;
  margin: 0;
}

.error {
  display: none;
  padding: 10px;
  color: #D8000C;
  border-radius: 4px;
  font-size: 13px;
  background-color: #FFBABA;
}

.success {
  background-color: #6cb670;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 13px;
  padding: 10px;
}

.map {
  position: relative;
}

.map #map {
  height: 400px;
  color: white;
}

.contact-meta-block {
  margin-top: 30px;
  padding: 40px 0;
  min-height: 250px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.05);
}

.contact-meta-block > i {
  display: block;
  font-size: 50px;
  margin-bottom: 20px;
}



/*=================================================================
  Services section 2
==================================================================*/
@media (max-width: 480px) {
  .service-2 .p-0 {
    padding: 0 15px !important;
  }
}

@media (max-width: 768px) {
  .service-2 .p-0 {
    padding: 0 15px !important;
  }
}

@media (max-width: 400px) {
  .service-2 .p-0 {
    padding: 0 15px !important;
  }
}

.service-2 .service-item {
  background: #fff;
  border: 1px solid #eee;
  margin: 10px;
  padding: 10px 20px;
  transition: all 0.3s ease 0s;
}

.service-2 .service-item .count {
  font-size: 80px;
  color: #f3f1f1;
  font-weight: 700;
}

.service-2 .service-item i {
  font-size: 30px;
  display: inline-block;
  color: #31BB9E;
  border-radius: 30px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.1);
  height: 55px;
  line-height: 55px;
  margin-bottom: 20px;
  width: 55px;
  transition: all 0.3s ease 0s;
}

.service-list .block {
  background: #31BB9E;
  color: #fff;
  padding: 30px;
}

.service-list .block i {
  font-size: 30px;
}

.service-list .block h3 {
  font-size: 22px;
  margin: 10px 0;
}

.service-list .block ul li {
  margin-bottom: 6px;
  color: #f9f9f9;
}


/*=================================================================
  Footer section
==================================================================*/
.top-footer {
  background-color: #222222;
  border-top: 1px solid #404040;
  padding: 100px 0 80px;
}

.top-footer h3 {
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.top-footer p {
  font-size: 13px;
  line-height: 30px;
  color: #bdbdbd;
  font-weight: 300;
  padding-right: 20px;
}

.top-footer li a {
  font-size: 13px;
  line-height: 30px;
  color: #bdbdbd;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: capitalize;
  transition: color .3s;
  font-family: "Playfair Display", serif;
  display: block;
}

.top-footer li a:hover {
  color: #31BB9E;
}

.footer-bottom {
  text-align: center;
  background-color: #231a18;
  /*border-top: 1px solid #2c2c2c;*/
  padding: 30px 0;
}

.footer-bottom h5 {
  font-size: 12px;
  line-height: 1;
  color: #888888;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 7px;
  margin-bottom: 3px;
}

.footer-bottom h6 {
  font-size: 11px;
  line-height: 15px;
  color: #888888;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.footer-bottom p {
  color: #656565;
}

.footer-bottom a {
  color: #31BB9E;
}

.subscribe-form .form-control {
  border-radius: 0;
}


/*# sourceMappingURL=maps/style.css.map */
