
/*=================================================================
  FORM CONTACTO
==================================================================*/

#contacto {
    background: url("../img/bg-contacto.jpg");
    background-position: right center;
}

#contacto h2{
    font-weight: 100;
    color: #fff;
}

#contacto p{
    color: #fff;
}